beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dateparser==1.2.0
Flask==3.0.3
gunicorn==22.0.0
icalendar==5.0.13
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
python-dateutil==2.9.0.post0
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
regex==2024.5.15
requests==2.32.3
six==1.16.0
soupsieve==2.5
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
Werkzeug==3.0.3
