<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>RTFCal - Impressum</title>
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚴</text></svg>">
    <link rel="stylesheet" href="{{ url_for('static', filename='rtfcal.css') }}">
</head>
<body>
    <h2>Impressum</h2>
    Diese Seite wurde gebaut und veröffentlicht von:<br>
    Florian Ilgenfritz<br>
    Florastr. 33E<br>
    13187 Berlin<br>
    flo at t21n dot net<br>

    <div id="backtosearch"><a href="/">Zurück zur Suche</a></div>
</body>
</html>