<!DOCTYPE html>

<html lang="de">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RTFCal</title>
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚴</text></svg>">
    {% endblock %}
</head>
<body>

{% block body %}
<div id="outer">

    <div id="title"><h1>RTFCal: RTF Termine als Kalender-Import</h1></div>

    <div id="image">
        <img src="{{ url_for('static', filename='rtfcal.png') }}" alt="Bildschirmfoto" decoding="async"/>
    </div>

    <div id="intro">
        <p>
            RTFCal führt eine RTF-Suche im bundesweiten <a href="http://breitensport.rad-net.de/breitensportkalender">Breitensportkalender</a>
            des <a href="https://www.bdr-online.org">BDR</a> durch und exportiert die Ergebnisse als Datei im iCalender-Format.
            Die iCal-Datei wird vom Browser automatisch heruntergeladen und kann danach in Programme wie Outlook, Google Calendar,
            Thunderbird oder Apple Kalender importiert werden.
        </p>
    </div>

    {% for e in errors %}
        <div class="error">{{ e }}</div>
    {% endfor %}

    <div id="param_form">
        <h2>Suchoptionen</h2>
        <form action="/search/" method="post">
            <div>
                <label for="startdate">Datum von</label>
                <input name="startdate" id="startdate" value="{{start_date}}"/>

                <label for="enddate">bis</label>
                <input name="enddate" id="enddate" value="{{end_date}}"/>
            </div>
            <div>
                <label for="art">Kategorie</label>
                <select name="art" id="art">
                    <!-- options copy-pasted from rad-net.de -->
                    <option value="-1" selected>Alle (außer Permanente)</option>
                    <option value="2">Radtourenfahrten (RTF)</option>
                    <option value="4">Radmarathon</option>
                    <option value="5">Radmarathon-Cup Deutschland</option>
                    <option value="6">Country-Tourenfahrten (CTF)</option>
                    <option value="10">CTF-Permanente</option>
                    <option value="1">RTF-Permanente</option>
                    <option value="3">Etappenfahrten</option>
                    <option value="7">Volksradfahren</option>
                    <option value="8">Radwandern für Jedermann</option>
                    <option value="9">Deutsches Radsportabzeichen</option>
                    <!-- <option value="11"   >Etappen-Permanente</option> -->
                    <option value="12">Richtig fit Tag Radfahren</option>
                    <option value="14">Interland-Trofee</option>
                    <!-- <option value="15"   >RAD-open</option>  -->
                    <option value="16">BDR-COUNTRY CUP Deutschland</option>
                </select>
            </div>
            <div>
                <label for="umkreis">Im Umkreis von:</label>
                <select name="umkreis" id="umkreis">
                    <option value="-1" selected="selected">Alle</option>
                    <option value="20">20 km</option>
                    <option value="50">50 km</option>
                    <option value="100">100 km</option>
                    <option value="200">200 km</option>
                    <option value="400">400 km</option>
                </select>

                <label for="plz">um PLZ</label>
                <input type="text" name="plz" id="plz" value="">
            </div>
            <div>
                <button>Suche</button>
            </div>
        </form>
    </div>
</div>

<div id="usage">
    <h4>Hinweise zur Benutzung</h4>
    <ul>
        <li>Es werden keine eingegebenen Daten oder sonstige Benutzerdaten gespeichert.</li>
        <li>Wenn mit Umkreis gesucht wird, muss auch eine Postleitzahl (PLZ) angegeben werden (und umgekehrt).</li>
        <li>Wenn mit Umkreis und PLZ gesucht wird, steht die Entfernung des RTFs von der Postleitzahl im Event-Titel.</li>
        <li>Fragen, Anregungen, und Bug-Reports bitte per <a href="https://github.com/tcmb/rtfcal">Github</a>.</li>
    </ul>
</div>
<a href="impressum">Impressum</a>
{% endblock %}
</body>
</html>
