<!DOCTYPE html>

<html lang="de">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RTFCal</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113525315-2"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-113525315-2');
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="static/css/rtfcal.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% block body %}
<div id="outer">
    <div id="title"><h1>RTFCal: RTF Termine als Kalender-Export</h1></div>
    <div id="intro">
        <p>
            RTFCal führt eine RTF-Suche durch im <a href="http://breitensport.rad-net.de/breitensportkalender">Breitensportkalender</a>
            und exportiert die Ergebnisse als Datei im iCalender-Format.<br/>
            Die iCal-Datei wird vom Browser automatisch heruntergeladen und kann danach in Programme wie Outlook, Google Calendar,
            Thunderbird oder Apple Kalender importiert werden.
        </p>
    </div>
    <div id="param_form">
        <h2>Suchoptionen</h2>
        <form action="/search" method="post">
            <div>
                <label for="startdate">Datum von</label>
                <input name="startdate" id="startdate" value="{{start_date}}"/>

                <label for="enddate">bis</label>
                <input name="enddate" id="enddate" value="31.12.2018"/>
            </div>
            <div>
                <label for="art">Kategorie</label>
                <select name="art" id="art">
                    <!-- options copy-pasted from rad-net.de -->
                    <option value="-1" selected>Alle (außer Permanente)</option>
                    <option value="2">Radtourenfahrten (RTF)</option>
                    <option value="4">Radmarathon</option>
                    <option value="5">Radmarathon-Cup Deutschland</option>
                    <option value="6">Country-Tourenfahrten (CTF)</option>
                    <option value="10">CTF-Permanente</option>
                    <option value="1">RTF-Permanente</option>
                    <option value="3">Etappenfahrten</option>
                    <option value="7">Volksradfahren</option>
                    <option value="8">Radwandern für Jedermann</option>
                    <option value="9">Deutsches Radsportabzeichen</option>
                    <!-- <option value="11"   >Etappen-Permanente</option> -->
                    <option value="12">Richtig fit Tag Radfahren</option>
                    <option value="14">Interland-Trofee</option>
                    <!-- <option value="15"   >RAD-open</option>  -->
                    <option value="16">BDR-COUNTRY CUP Deutschland</option>
                </select>
            </div>
            <div>
                <label for="umkreis">Im Umkreis von:</label>
                <select name="umkreis" id="umkreis">
                    <option value="-1" selected="selected">Alle</option>
                    <option value="20">20 km</option>
                    <option value="50">50 km</option>
                    <option value="100">100 km</option>
                    <option value="200">200 km</option>
                    <option value="400">400 km</option>
                </select>

                <label for="plz">um PLZ</label>
                <input type="text" name="plz" id="plz" value="">
            </div>
            <div>
                <button>Suche</button>
            </div>
        </form>
    </div>
</div>
<div id="usage">
    <h4>Hinweise zur Benutzung</h4>
    <ul>
        <li>Es werden keine eingegebenen Daten oder sonstige Benutzerdaten gespeichert.</li>
        <li>Wenn mit Umkreis gesucht wird, muss auch eine Postleitzahl (PLZ) angegeben werden (und umgekehrt).</li>
        <li>Wenn mit Umkreis und PLZ gesucht wird, steht die Entfernung des RTFs von der Postleitzahl im Event-Titel</li>
        <li>Fragen, Anregungen, und Bug-Reports bitte per <a href="https://github.com/tcmb/rtfcal">Github</a>.</li>
    </ul>
</div>
{% endblock %}
</body>
</html>
